<nav class="navbar navbar-expand-lg navbar-dark mb-2" style="background-color: #332D2D;">
    <div class="container-fluid">
        <a class="navbar-brand">Tweeker</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <!-- <a class="nav-link" href="/account/logout">Logout</a> -->
                <a class="nav-link" href="{% url 'accounts:logout_view' %}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:user_update_profile_view' %}">Edit</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link d-flex me-2" href="{% url 'accounts:register_view' %}">{{request.user}}</a>
            </li> -->
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login_view' %}">Login</a>
                <!-- <a class="nav-link" href="/account/login">Login</a> -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:register_view' %}">Register</a>
            </li>
            {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" role="linl" aria-disabled="true">{{request.user}}</a>
                </li>
            </ul>
        {% endif %}
            <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        </div>
    </div>
</nav>